#snackbar {
  visibility: hidden;
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  border-radius: 8px;
  position: fixed;
  z-index: 9999;
  top: 15px;
  font-size: 17px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  .left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .close-btn {
    cursor: pointer;
  }
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 15px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    top: 15px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
