.profile-container {
  background-color: #fafafb;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .profile__info-box {
    max-width: 52.5rem;
    width: 100%;
    margin: 0rem auto;
  }
}
