.profile-container {
  height: 100%;
  background-color: #fafafb;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .profile__info-box {
    max-width: 850px;
    width: 100%;
    border: 1px solid;
    margin: 0rem auto;
  }
}
