.edit-profile-details-box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @media screen and (max-width: 860px) {
    margin: auto 1.5rem;
  }
  .edit-details-info {
    border: 1px solid #e0e0e0;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    min-height: 830px;
    margin-bottom: 3rem;
    display: grid;
    list-style: none;
    grid-template-rows: repeat(7, 1fr);
    @media screen and (max-width: 450px) {
      border: none;
    }
    .edit-details-info__header {
      .bold {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: -0.035em;
        text-align: left;
      }
      .light {
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.035em;
        text-align: left;
        color: #828282;
      }
    }
    .edit-details-info__form {
      .change-photo {
        label {
          display: flex;
          gap: 1rem;
        }
        .photo-icon {
          width: 72px;
          height: 72px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius: 8px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          span {
            color: #ffffff;
          }
        }
        p {
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 18px;
          letter-spacing: -0.035em;
          color: #828282;
          text-transform: capitalize;
          align-self: center;
        }
        input {
          display: none;
        }
      }
    }
  }
}
